
 
 body {
        width: calc(100vw - 40px);
        max-width: 1200px;
        margin: auto;
        margin-bottom: 40pt;

        font-family:"Noto Sans", sans-serif;
        color: #ffffff;

        background-color: #0d1117;
        }

        section {
            display: grid;
            place-items: center;
            align-content: center;
            min-height: 100vh;
            font-size: 3rem;
        }

        .hidden {
            opacity: 0;
            filter: blur(5px);
            transform: translateX(-100%);
            transition: all 1s ;
            }
    
        .show {
            opacity: 1;
            filter: blue(0);
            transform: translateX(0);
        }


        footer{
            padding: 40px;
            text-align: center;
        }

        a, a:visited {
            color: #626064;
            text-decoration: none;
           
        }
        
        a:hover {
            font-weight: bolder;
            transition: 130ms linear;
        }

        .jamal{
            color: #273447;
        }

        .underline{
            display: inline;
            border-bottom: 3px dotted #273447;
        }