body {
    width: calc(100vw - 40px);
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40pt;
    }

    body{
    font-family:"Noto Sans", sans-serif;
    color: #ffffff;

    background-color: #0d1117;
    }

    body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }

    footer{
        padding: 40px;
        text-align: center;
    }

    a, a:visited {
        color: #626064;
        text-decoration: none;
       
    }
    
    a:hover {
        font-weight: bolder;
        transition: 130ms linear;
    }

    .jamal{
        color: #273447;
    }

    .underline{
        display: inline;
        border-bottom: 3px dotted #273447;
    }